<%= form_for(@historico_alarme_silo) do |f| %>
  <% if @historico_alarme_silo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historico_alarme_silo.errors.count, "error") %> prohibited this historico_alarme_silo from being saved:</h2>

      <ul>
      <% @historico_alarme_silo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alarme_silo_id %><br>
    <%= f.text_field :alarme_silo_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
