<p id="notice"><%= notice %></p>

<p>
  <strong>Alarme silo:</strong>
  <%= @historico_alarme_silo.alarme_silo %>
</p>

<p>
  <strong>Date:</strong>
  <%= @historico_alarme_silo.date %>
</p>

<%= link_to 'Edit', edit_historico_alarme_silo_path(@historico_alarme_silo) %> |
<%= link_to 'Back', historico_alarme_silos_path %>
