<%= form_for(@exploracao) do |f| %>
  <% if @exploracao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exploracao.errors.count, "error") %> prohibited this exploracao from being saved:</h2>

      <ul>
      <% @exploracao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :localizacao %><br>
    <%= f.text_field :localizacao %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
