<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= link_to image_tag("SEPREMOTElogo.png", alt: "Sep Sancho logo"),
                '#/' , id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Help",   '/static_pages/help' %></li>
        <li><%= link_to "Log in", '/login' %></li>
      </ul>
    </nav>
  </div>
</header>

